<legend><%= T('title-revision') %></legend>

<table class="table">
  <% revisions.forEach(function (model) { %>
    <tr>
      <td>
        <ul>
        <% _.each(model.get('old'), function(value, key) { %>
          <li>(<%= key %>) <%= value %> ->  <%= model.get('new')[key] %></li>
        <% }); %>
        </ul>
      </td>
      <td><%= new Date(model.get('_inserted')) %> (<%= model.get('_creator_name') %>)</td>
    </tr>
  <% }); %>
</table>
