<audio id="player">
	<source src="/static/audio/success.ogg"/>
</audio>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/"></a>
			<div class="nav-collapse in collapse">
				<ul class="nav pull-right authenticated-only">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="username-field"></span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="admin_change_password" style="display: none"><a href="/users/change_password"><%= T('base-change-password') %></a></li>
							<li id="admin_templates" style="display: none"><a href="/templates"><%= T('base-templates') %></a></li>
							<li id="admin_templates_layouts" style="display: none"><a href="/templates/layouts"><%= T('base-layouts') %></a></li>
							<li id="admin_users" style="display: none"><a href="/users"><%= T('base-users') %></a></li>
							<li id="admin_roles" style="display: none"><a href="/roles"><%= T('base-roles') %></a></li>
							<li id="admin_categories" style="display: none"><a href="/categories"><%= T('base-categories') %></a></li>
              <li id="admin_classificators" style="display: none"><a href="/classificators"><%= T('base-classificators') %></a></li>
							<li><a href="/logout"><%= T('base-logout') %></a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right anonymous-only" style="display: none">
					<li><a href="/login"><%= T('base-login') %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="main-container" class="container-fluid">
	<div class="row-fluid">
		<div class="sidebar" id="sidebar">
			<ul class="nav nav-list" id="categories"></ul>
			<div class="sidebar-collapse" id="sidebar-collapse">
				<i class="icon-double-angle-left"></i>
			</div>
		</div>
		<div class="span12" id="content">
			<div class="content-inner">

				<div id="error-container"></div>

				<div id="content-rewrite"></div>
				<div id="loader"></div>
				<div id="map-content">
					<div id="map-popup"></div>
					<div id="fullscreen">[]</div>
					<div id="layerswitcher" class="ui-draggable"></div>
					<div id="map-legend1" class="map-legend ui-draggable"></div>
					<div id="map-legend2" class="map-legend ui-draggable"></div>
				</div>
			</div>
		</div>
	</div>
</div>
