<% var model = this.options.model; %>
<form>
  <fieldset>
    <legend><%= T('title-edit-classificator') %></legend>

    <div data-fields="*"></div>

    <p><%= T('meta-added') %> <%= new Date(model.get('_inserted')).toLocaleString() %> (<%= model.get('_creator_name') %>)</p>

    <% if (model.get('_updated')) { %>
      <p><%= T('meta-updated') %> <%= new Date(model.get('_updated')).toLocaleString() %> (<%= model.get('_editor_name') %>)</p>
    <% } %>

    <% if (Backbone.User.permissions().POST) { %>
      <button class="btn" id="save-item"><%= T('button-save') %></button>
    <% } %>

    <% if (Backbone.User.permissions().DELETE) { %>
      <button class="btn btn-danger" id="delete-item"><%= T('button-delete') %></button>
    <% } %>
  </fieldset>
</form>
