<html>
<head>
<title></title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">TARA</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="content">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>url</th>
            <th>methods</th>
          </tr>
        </thead>
        <tbody>
          {% for item in url_map %}
            {% if item.rule != '/' %}
            <tr>
              <td>
                <a href="/api{{ item.rule }}">/api{{ item.rule }}</a>
              </td>
              <td>
                <ul class="inline" style="margin: 0">
                  {% for method in item.methods | sorted | remove_head %}
                  <li>
                    {% if method == 'GET' %}
                      <span class="label label-success">{{ method }}</span>
                    {% elif method == 'POST' %}
                      <span class="label label-info">{{ method }}</span>
                    {% elif method == 'PATCH' %}
                      <span class="label label-warning">{{ method }}</span>
                    {% elif method == 'DELETE' %}
                      <span class="label label-important">{{ method }}</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
