<legend>
  <%
    var mytmp = templates.get(templateId).toJSON();
    if(mytmp.parent) {
      mytmp = templates.get(mytmp.parent).toJSON();
    }
  %>
  <%= mytmp.label %> <span id="total-count" style="display: none">(<span id="total-count-nr">0</span>)</span>
</legend>

<form class="pull-left form-inline">
  <label><%= T('title-search') %></label>
  <select id="field-filter">
    <option value="_ALL_">--</option>
    <% _.each(templates.get(templateId).toJSON().form_fields, function (field) { %>
      <% if (field.type == 'text' || field.type == 'textarea' || field.type == 'number') { %>
      <option value="<%= field.name %>" data-type="<%= field.type %>"><%= field.label %></option>
      <% } %>
    <% }); %>
  </select>

  <div class="input-append">
    <input type="text">
    <button class="btn" type="submit"><%= T('button-search') %></button>
  </div>

  <div id="filter-list"></div>
</form>

<form class="pull-left form-inline">
	<label>&nbsp;</label>
	<select class="input-small" id="page-size">
		<option>250</option>
		<option>500</option>
		<option>5000</option>
	</select>
</form>

<div class="clearfix"></div>


