/* CSS Document */
/**, 
*:before, 
*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box; 
}*/

*,
*:before, 
*:after {
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0 !important;} 

body { color: #393939; background-color: #fff;font-family: 'Open Sans'; font-size: 13px; line-height: 1.5; padding-top:65px;}
.navbar { border: 0 none; border-radius:0; box-shadow: none; margin: 0; min-height: 45px; padding-left: 0; padding-right: 0; p}
.navbar-inverse .navbar-inner { border:none; box-shadow: none;}
.navbar .brand { color: #ffffff; display: block; float: left; margin:0px 20px 0 0; padding:0px; text-shadow:none;}
.navbar .brand img { display:block; height:50px;}
.navbar .nav > li > a { color: #ffffff; float: none; padding: 12px 15px; text-decoration: none; text-shadow:none;}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus { background-color:#A01714; color:#fff;}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret { border-bottom-color: #ffffff; border-top-color: #ffffff;}
.navbar-inverse .nav li.dropdown > a:hover .caret, 
.navbar-inverse .nav li.dropdown > a:focus .caret { border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;}
.navbar-inverse .brand, 
.navbar-inverse .nav > li > a { color: #ffffff;  text-shadow:none;}

.navbar .nav.pull-right { background: #A01714 no-repeat top left;}

.dropdown-menu { border-radius:0; border: 1px solid rgba(0, 0, 0, 0.15); margin-top:0px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}
.navbar .pull-right > li > .dropdown-menu, 
.navbar .nav > li > .dropdown-menu.pull-right { right:-5px;}
.dropdown-menu li a:hover, 
.dropdown-menu li a:focus, 
.dropdown-menu li a:active, 
.dropdown-menu li.active a, 
.dropdown-menu li.active a:hover, 
.dropdown-menu .dropdown-submenu:hover > a, 
.nav-tabs .dropdown-menu li > a:focus { background: #FEE188; color: #444444;}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #A01714;
    color: #FFFFFF;
}

.backgrid, .table { border: 1px solid #DDDDDD; border-radius:0; clear:both; margin-bottom: 20px; font-size: 13px; margin-top:5px;border-collapse: collapse;}
.backgrid thead tr th,
.table thead tr th { font-weight:bold; vertical-align:middle; color:#707070; padding: 0 5px; height: 45px;
background:#f2f2f2;
background-image:-webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));
background-image:-webkit-linear-gradient(top,#f8f8f8,0%,#ececec,100%);
background-image:-moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
background-repeat:repeat-x; }
.backgrid thead tr th a,
.table thead tr th a { color:#707070;}
.backgrid thead tr th a:hover,
.backgrid thead tr th a:focus,
.table thead tr th a:hover,
.table thead tr th a:focus { color:#547EA8; text-decoration:none;}
.backgrid > tbody > tr:nth-child(2n+1) > td, 
.backgrid > tbody > tr:nth-child(2n+1) > th,
.table > tbody > tr:nth-child(2n+1) > td, 
.table > tbody > tr:nth-child(2n+1) > th { background-color: #F9F9F9;}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child { border-radius:0;}

.backgrid a:hover,
.table a:hover { text-decoration:none;}
.backgrid .icon-eye-open{ display:block; margin:auto; color:#393939;}
.table .icon-eye-open { color:#393939;}
.backgrid tr:hover,
.backgrid tr:hover td,
.table tr:hover,
.table tr:hover td  { background:#EFF4F7 !important;}
.backgrid tr td { cursor:pointer; white-space:normal}

.btn { border-radius:0;}

.container-fluid {
	padding-left:0;
}

h1, h2, h3 { margin-bottom: 20px; margin-top: 10px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; line-height: 1.1;}
h1 { font-size: 32px; font-weight: normal;}
h2 {  font-size: 26px; font-weight: normal;}
h3 {  font-size: 22px; font-weight: normal;}
h4 {  font-size: 18px; font-weight: normal;}

label, input, button, select, textarea { font-size: 13px; font-weight: normal; line-height: 26px; font-family:inherit;}
label {display: inline-block;}

select { background-color: #FFFFFF; border: 1px solid #D5D5D5; border-radius: 0 0 0 0; box-shadow: none !important; color: #858585; margin:0 4px; height:26px; padding:2px 3px;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align:middle;}
.input-append input, 
.input-append select, 
.input-append .uneditable-input,
.input-append .add-on:last-child, 
.input-append .btn:last-child, 
.input-append .btn-group:last-child > .dropdown-toggle { border-radius:0;}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: #FFFFFF; border: 1px solid #D5D5D5; box-shadow: none; color: #858585; height:26px; padding:2px 3px;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
textarea { height:auto;}

.btn { background: #A0A0A0; border: 3px solid #A0A0A0; box-shadow:none; color: #FFFFFF; padding: 1px 5px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); font-size: 12px; line-height: 1.5; } 
.btn:focus, 
.btn:hover { background: #888888; color: #FFFFFF; text-decoration:none;}

.edit.btn,
#edit-form.btn { padding:1px 5px; background:#428BCA; color:#FFFFFF; border:3px solid #428BCA; box-shadow:none;text-shadow:none; font-size:12px;}
.edit.btn:hover,
.edit.btn:focus,
#edit-form.btn:hover,
#edit-form.btn:focus { background:#1B6AAA; color:#FFFFFF;}

.btn.add,
#save-item.btn { padding:1px 5px; background:#87B87F; color:#FFFFFF; border:3px solid #87B87F; box-shadow:none;text-shadow:none; font-size:12px;}
.btn.add:hover,
.btn.add:focus,
#save-item.btn:hover,
#save-item.btn:focus { background:#629B58; color:#FFFFFF;}

#delete-item { background:#D15B47; border:3px solid #D15B47;}
#delete-item:hover,
#delete-item:focus { background:#B74635; color:#FFFFFF;}

.download.btn { background:#FEE188; border:3px solid #FEE188; color:#996633;}
.download.btn:hover,
.download.btn:focus { background:#F7D05B; color:#996633;}

#save-item,
#delete-item { margin-top:20px;}

.btn-info, .btn-info:focus {
    background-color: #6FB3E0 !important;
    border-color: #6FB3E0;
}
.btn-info:hover {
    background-color: #4F99C6 !important;
    border-color: #6FB3E0;
}

.backgrid-paginator { }
.backgrid-paginator ul > li > a, 
.backgrid-paginator ul > li > span {  border-radius: 0 0 0 0 !important; border: 1px solid #E0E8EB;}
.backgrid-paginator ul > li > a { background-color: #FAFAFA; color: #2283C5; margin: 0 -1px 0 0;}
.backgrid-paginator ul > li > a:hover, 
.backgrid-paginator ul > li > a:focus { background-color: #EAEEF2;}
.backgrid-paginator ul > li.disabled > a, 
.backgrid-paginator ul > li.disabled > a:hover { background-color: #F9F9F9; border-color: #D9D9D9;}
.backgrid-paginator ul > li.active > a, 
.backgrid-paginator ul > li.active > a:hover { background-color: #6FAED9; border-color: #6FAED9; color: #FFFFFF; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.backgrid-paginator ul > .disabled > span, 
.backgrid-paginator ul > .disabled > a, 
.backgrid-paginator ul > .disabled > a:hover, 
.backgrid-paginator ul > .disabled > a:focus { cursor: not-allowed;}

legend { border-bottom: 1px dotted #E2E2E2;  color: #2679B5; font-size: 24px; font-weight: lighter;}
#resource-table,
#resource-form { margin-top:20px;}


.thumbnail { border-radius:0; box-shadow:none;}

#files-container .thumbnails > li  { overflow: hidden; position: relative;}
#files-container .thumbnails > li.span3 { width: 300px;}
#files-container .thumbnails > li a.thumbnail { text-decoration: none; cursor:pointer;}
#files-container .thumbnails > li a.thumbnail img { max-width: 100%;}

#files-container .thumbnails > li .file-info { position:absolute; left:0; right:0; top:0; bottom:0; color:#FFF; }
#files-container .thumbnails > li .file-info .default {position: absolute; bottom:5px; right:5px; background-color: #3A87AD !important; font-size: 14px; line-height: 25px; height:25px; text-align: left;  padding: 0 0.6em; white-space: nowrap; z-index: 97;}
#files-container .thumbnails > li .file-info .default:before {content:"\f0c1";font-family:'FontAwesome'; font-size: 18px; font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale; margin-right: 5px;vertical-align: bottom;}

#files-container .thumbnails > li .file-info .caption { position:absolute; left:5px; right:5px; top:5px; background-color:rgba(0,0,0,0.5); padding:0.2em 0.6em; color:#FFFFFF; }

#files-container .thumbnails > li .file-info .is_linked { position: absolute; bottom:5px; right:5px; background-color: #D15B47 !important; font-size: 14px; line-height: 25px; height:25px; text-align: left;  padding: 0 0.6em; white-space: nowrap; z-index:99;}
#files-container .thumbnails > li .file-info .is_linked:before {content:"\f00d";font-family:'FontAwesome'; font-size: 18px; font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale; margin-right: 5px;vertical-align: bottom;}


.alert{ padding:15px; margin-bottom:20px; border:none; border-radius:0; font-size:14px;}
.alert h4 { margin-top:0; color:inherit}
.alert .alert-link { font-weight:bold}
.alert > p, .alert > ul { margin-bottom:0}
.alert > p + p { margin-top:10px}
.alert-dismissable { padding-right:35px}
.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#356635}
.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#2d6987}
.alert-warning{color:#c09853;background-color:#fcf8e3;border-color:#fbeed5}
.alert-warning hr{border-top-color:#f8e5be}
.alert-warning .alert-link{color:#a47e3c}
.alert-danger{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}
.alert-danger hr{border-top-color:#e6c1c7}
.alert-danger .alert-link{color:#953b39}

.alert .close { float:right;font-size:16px;font-weight:bold;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20); left:0; top:0; }
.alert .close:hover,
.alert .close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}

/*Sidemenu*/
#main-container { padding-left:0;}
.sidebar{position:relative;border:1px solid #ccc;border-width:0 1px 0 0;margin:0 0 0 0; width:190px; float:left; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;box-sizing: border-box;}
.sidebar * {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.sidebar.menu-min { width: 43px;}
.sidebar:before{content:"";display:block; width:190px; position:fixed;bottom:0;top:0;z-index:-1;border:1px solid #ccc;border-width:0 1px 0 0; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;box-sizing: border-box;}
.sidebar.menu-min:before { width: 43px;}
#content { -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; padding-left:20px;}
.sidebar + #content { margin-left:214px;padding-left:0; float:none; width:auto;}
.sidebar + #content .content-inner { float:left; width:100%;}
.sidebar.menu-min + #content { margin-left: 67px;}

#sidebar .collapse {
	list-style: none;
}

#filter-list { margin-top:12px;}
#filter-list:after {content:"."; height:0; display:block; visibility:hidden; overflow:hidden; width:100%; clear:both}
#filter-list .label { background:#D15B47; border:2px solid #D15B47; margin:0 1px 0 0; float:left; display:block; position:relative;font-size: 13px; line-height: 1.39; font-weight: normal; padding: 4px 9px; cursor:pointer;}
#filter-list .label:before {content:"\f00d";font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;*margin-right:.3em; background:none; margin-top:0; height:auto; width:auto; vertical-align: baseline; text-align:left; margin-right:7px;}
#filter-list .label:hover { background:#B74635;}

.menu-min .nav-list a .badge,
.menu-min .nav-list a .label{position:relative;top:-1px;right:auto;left:4px}
.menu-min .nav-list .submenu .submenu a .badge,
.menu-min .nav-list .submenu .submenu a .label{top:0}
.menu-min .nav-list>li>a{position:relative}
.menu-min .nav-list>li>a>.menu-text{display:none;position:absolute;left:42px;top:-2px;width:174px;height:40px;line-height:38px;background-color:#f5f5f5;z-index:121;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);border:1px solid #ccc;padding-left:12px}
.menu-min .nav-list>li>a.dropdown-toggle>.menu-text{-webkit-box-shadow:none;box-shadow:none;border:0;top:-1px;left:43px;width:174px;border-bottom:1px solid #ddd}
.menu-min .nav-list>li>a .arrow{display:none}
.menu-min .nav-list>li>a:hover:before{width:2px}
.menu-min .nav-list>li:hover>a{color:#1963aa}
.menu-min .nav-list>li:hover>a>.menu-text{display:block}
.menu-min .nav-list>li.active>a>.menu-text{border-left-color:#1963aa}
.menu-min .nav-list>li.open>a{background-color:#fafafa;color:#585858}
.menu-min .nav-list>li.open.active>a{background-color:#fff}
.menu-min .nav-list>li.open:hover>a{color:#1963aa}
.menu-min .nav-list>li.active>a{color:#2b7dbc}
.menu-min .nav-list>li.active>a:after{border-width:10px 6px;top:8px}
.menu-min .nav-list>li.active.open>a:after{display:block}
.menu-min .nav-list>li.active.open li.active>a:after{display:none}
.menu-min .nav-list>li>.submenu{background:#fff;position:absolute;z-index:120;left:42px;top:-2px;width:176px;border:1px solid #ccc;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);padding-top:40px;padding-bottom:2px;display:none!important}
.menu-min .nav-list>li>.submenu:before{display:none}
.menu-min .nav-list>li>.submenu li:before{display:none}
.menu-min .nav-list>li>.submenu li>a{margin-left:0;padding-left:24px}
.menu-min .nav-list>li>.submenu li>a>[class*="icon-"]:first-child{left:4px}
.menu-min .nav-list>li:hover>.submenu{display:block!important}
.menu-min .nav-list>li.active>.submenu{border-left-color:#2b7dbc}
.menu-min .sidebar-shortcuts{position:relative}
.menu-min .sidebar-shortcuts-mini{display:block}
.menu-min .sidebar-shortcuts-large{display:none;position:absolute;z-index:20;top:-1px;left:42px;width:182px;padding:0 2px 1px;background-color:#fff;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);border:1px solid #ccc}
.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large{display:block}
.menu-min .sidebar-collapse:before{left:5px;right:5px}
.menu-min .sidebar-collapse>[class*="icon-"]{font-size:13px;padding:0 4px;line-height:15px;border-width:1px;border-color:#aeaeae}
.menu-min .nav-list>li>.submenu li>.submenu>li>a{margin-left:0;padding-left:30px}
.menu-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a{margin-left:0;padding-left:45px}
.menu-min .nav-list>li>.submenu li.active>a:after{display:none}
.menu-min .nav-list li.active.open>.submenu>li.active>a:after{display:none}

.nav:before, 
.nav:after { content: " "; display: table;}
.nav:after { clear: both;}
.nav-list { margin:0;padding:0;list-style:none}
.nav-list li [class^="icon-"],
.nav-list li [class*=" icon-"] { width:auto; background:none; line-height:38px;}
.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus { background-color:#fafafa}
.nav-list > li > a,
.nav-list .nav-header { margin:0}
.nav-list > li:first-child { border-top: 0;}
.nav-list > li { display:block;padding:0;margin:0;border:0;border-top:1px solid #fcfcfc;border-bottom:1px solid #e5e5e5;position:relative}

.nav-list li > a:focus { outline:0}
.nav-list > li > a { display:block;height:38px;line-height:36px;padding:0 16px 0 7px;background-color:#f9f9f9;color:#585858;text-shadow:none!important;font-size:13px;text-decoration:none}
.nav-list > li > a > [class*="icon-"]:first-child{display:inline-block;vertical-align:middle;min-width:30px;text-align:center;font-size:18px;font-weight:normal;margin-right:2px}
.nav-list > li > a:focus { background-color:#f9f9f9;color:#1963aa}
.nav-list > li > a:hover { background-color:#FFF;color:#1963aa}
.nav-list > li > a:hover:before { display:block;content:"";position:absolute;top:-1px;bottom:0;left:0;width:3px;max-width:3px;overflow:hidden;background-color:#3382af}
.nav-list > li a > .arrow { display:inline-block;width:14px!important;height:14px;line-height:14px;text-shadow:none;font-size:18px;position:absolute;right:11px;top:11px;padding:0;color:#666 !important}
.nav-list > li a:hover > .arrow,
.nav-list > li.active > a > .arrow,
.nav-list > li.open > a > .arrow{color:#1963aa;}
.nav-list > li.separator{height:3px;background-color:transparent;position:static;margin:1px 0;-webkit-box-shadow:none;box-shadow:none}
.nav-list > li.open > a{background-color:#fafafa;color:#1963aa}
.nav-list > li.active{background-color:#fff}
.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li.active > a:active{background-color:#fff;color:#2b7dbc;font-weight:bold;font-size:13px}
.nav-list > li.active > a > [class*="icon-"]{font-weight:normal}
.nav-list > li.active > a:hover:before{display:none}
.nav-list > li.active:after{display:inline-block;content:"";position:absolute;right:-2px;top:-1px;bottom:0;z-index:1;border:2px solid #2b7dbc;border-width:0 2px 0 0}
.nav-list > li.open{border-bottom-color:#e5e5e5}
.nav-list > li.active .submenu{display:block}
.nav-list > li.open .submenu { display:block}

.nav-list > li .submenu{display:none;list-style:none;margin:0;padding:0;position:relative;background-color:#fff;border-top:1px solid #e5e5e5}
.nav-list > li .submenu > li{margin-left:0;position:relative}
.nav-list > li .submenu > li > a{display:block;position:relative;color:#616161;padding:7px 0 9px 37px;margin:0;border-top:1px dotted #e4e4e4}
.nav-list > li .submenu > li > a:focus{text-decoration:none}
.nav-list > li .submenu > li > a:hover{text-decoration:none;color:#4b88b7}
.nav-list > li .submenu > li.active > a{color:#2b7dbc}
.nav-list > li .submenu > li a > [class*="icon-"]:first-child{display:none;font-size:12px;font-weight:normal;width:18px;height:auto;line-height:12px;text-align:center;position:absolute;left:10px;top:11px;z-index:1;background-color:#FFF}
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child,
.nav-list > li .submenu > li:hover > a > [class*="icon-"]:first-child{display:inline-block}
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child{color:#c86139}
.nav-list > li > .submenu > li:before{content:"";display:inline-block;position:absolute;width:7px;left:20px;top:17px;border-top:1px dotted #9dbdd6}
.nav-list > li > .submenu > li:first-child > a{border-top:1px solid #fafafa}
.nav-list > li > .submenu:before{content:"";display:block;position:absolute;z-index:1;left:18px;top:0;bottom:0;border:1px dotted #9dbdd6;border-width:0 0 0 1px}
.nav-list > li.active > .submenu > li:before{border-top-color:#8eb3d0}
.nav-list > li.active > .submenu:before{border-left-color:#8eb3d0}
.nav-list li .submenu{overflow:hidden}
.nav-list li.active > a:after{display:block;content:"";position:absolute!important;right:0;top:4px;border:8px solid transparent;border-width:14px 10px;border-right-color:#2b7dbc}
.nav-list li.open > a:after{display:none}
.nav-list li.active.open > .submenu > li.active.open > a.dropdown-toggle:after{display:none}
.nav-list li.active > .submenu > li.active > a:after { display:none}
.nav-list li.active.open > .submenu > li.active > a:after { display:block}
.nav-list li.active.no-active-child > a:after { display:inline-block!important}
.nav-list a .badge,
.nav-list a .label { font-size:12px;padding-left:6px;padding-right:6px;position:absolute;top:9px;right:11px;opacity:.88}
.nav-list a .badge [class*="icon-"],
.nav-list a .label [class*="icon-"] { vertical-align:middle;margin:0}
.nav-list a.dropdown-toggle .badge,
.nav-list a.dropdown-toggle .label { right:28px}
.nav-list a:hover .badge,
.nav-list a:hover .label { opacity:1}
.nav-list .submenu .submenu a .badge,
.nav-list .submenu .submenu a .label { top:6px}

.sidebar-collapse { border-bottom:1px solid #e0e0e0;background-color:#f3f3f3;text-align:center;padding:3px 0;position:relative}
.sidebar-collapse > [class*="icon-"] { display:inline-block;cursor:pointer;font-size:14px;color:#aaa;border:1px solid #bbb;padding:0 5px;line-height:18px;-webkit-border-radius:16px !important;border-radius:16px !important;background-color:#fff;position:relative;}
.sidebar-collapse:before { border-top: 1px solid #E0E0E0; content: ""; display: inline-block; height: 0; left: 15px; position: absolute; right: 15px; top: 13px;}

.panel { margin-bottom: 20px; background-color: #ffffff; border: 1px solid #CDD8E3; box-shadow:none;}

.panel-body { padding: 15px;}
.panel-body .btn { margin-bottom:10px;}

.panel-body:before,
.panel-body:after { display: table; content: " ";}
.panel-body:after { clear: both;}

.panel > .list-group { margin-bottom: 0;}
.panel > .list-group .list-group-item { border-width: 1px 0;}
.panel > .list-group .list-group-item:first-child { border-top-right-radius: 0; border-top-left-radius: 0;}
.panel > .list-group .list-group-item:last-child { border-bottom: 0;}
.panel-heading + .list-group .list-group-item:first-child { border-top-width: 0;}

.panel .table { margin-bottom: 0;}

.panel-heading { border-bottom: 1px solid transparent; background-color: #EEF4F9;color: #4C8FBD;font-size: 13px;font-weight: normal;line-height: 1;}

.panel-title { margin-top: 0; margin-bottom: 0; font-size: 13px;}

.panel-title > a { color:#4C8FBD; display:block;background-color: #EEF4F9; padding:10px;text-decoration:none;}
.panel-title > a:hover { text-decoration:none;background:#F1F8FD;}
.panel-title > a:focus,
.panel-title > a:active { outline:0;text-decoration:none;}
.panel-title > a [class*="icon-"]:first-child { width:12px; font-size:110%;}

.panel.active .panel-heading a{ font-weight:bold;}
.panel.active .panel-heading a .icon-angle-right:before{content:"\f107";}


.panel-footer { padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #CDD8E3;}

.panel-group .panel { margin-bottom: 0; overflow: hidden;}

.panel-group .panel + .panel { margin-top: 2px;}
.panel-group .panel-heading { border-bottom: 0;}
.panel-group .panel-heading + .panel-collapse .panel-body { border-top: 1px solid #CDD8E3;}
.panel-group .panel-footer { border-top: 0;}
.panel-group .panel-footer + .panel-collapse .panel-body {border-bottom: 1px solid #CDD8E3;}

.panel-default { border-color: #CDD8E3;}
.panel-default > .panel-heading { color: #4C8FBD; background-color: #EEF4F9; border-color: #CDD8E3;}
.panel-default > .panel-heading + .panel-collapse .panel-body { border-top-color: #CDD8E3;}
.panel-default > .panel-footer + .panel-collapse .panel-body { border-bottom-color: #CDD8E3;}

/*Awesome ikoonid*/
@font-face { font-family:'FontAwesome';
	src:url('fontawesome-webfont.eot?v=3.2.1');
	src:url('fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
		 url('fontawesome-webfont.woff?v=3.2.1') format('woff'),
		 url('fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
		 url('fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight:normal;
	font-style:normal;
}
[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;*margin-right:.3em; background:none; margin-top:0; height:auto; width:auto; vertical-align: baseline; text-align:center}
[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] { background:none;}

.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope-alt:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-power-off:before,.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-gear:before,.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file-alt:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-rotate-right:before,.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-mail-forward:before,.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-gears:before,.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up-alt:before{content:"\f087";}
.icon-thumbs-down-alt:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-unchecked:before,.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paperclip:before,.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-rotate-left:before,.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-lightbulb:before{content:"\f0eb";}
.icon-exchange:before{content:"\f0ec";}
.icon-cloud-download:before{content:"\f0ed";}
.icon-cloud-upload:before{content:"\f0ee";}
.icon-user-md:before{content:"\f0f0";}
.icon-stethoscope:before{content:"\f0f1";}
.icon-suitcase:before{content:"\f0f2";}
.icon-bell-alt:before{content:"\f0f3";}
.icon-coffee:before{content:"\f0f4";}
.icon-food:before{content:"\f0f5";}
.icon-file-text-alt:before{content:"\f0f6";}
.icon-building:before{content:"\f0f7";}
.icon-hospital:before{content:"\f0f8";}
.icon-ambulance:before{content:"\f0f9";}
.icon-medkit:before{content:"\f0fa";}
.icon-fighter-jet:before{content:"\f0fb";}
.icon-beer:before{content:"\f0fc";}
.icon-h-sign:before{content:"\f0fd";}
.icon-plus-sign-alt:before{content:"\f0fe";}
.icon-double-angle-left:before{content:"\f100";}
.icon-double-angle-right:before{content:"\f101";}
.icon-double-angle-up:before{content:"\f102";}
.icon-double-angle-down:before{content:"\f103";}
.icon-angle-left:before{content:"\f104";}
.icon-angle-right:before{content:"\f105";}
.icon-angle-up:before{content:"\f106";}
.icon-angle-down:before{content:"\f107";}
.icon-desktop:before{content:"\f108";}
.icon-laptop:before{content:"\f109";}
.icon-tablet:before{content:"\f10a";}
.icon-mobile-phone:before{content:"\f10b";}
.icon-circle-blank:before{content:"\f10c";}
.icon-quote-left:before{content:"\f10d";}
.icon-quote-right:before{content:"\f10e";}
.icon-spinner:before{content:"\f110";}
.icon-circle:before{content:"\f111";}
.icon-mail-reply:before,.icon-reply:before{content:"\f112";}
.icon-github-alt:before{content:"\f113";}
.icon-folder-close-alt:before{content:"\f114";}
.icon-folder-open-alt:before{content:"\f115";}
.icon-expand-alt:before{content:"\f116";}
.icon-collapse-alt:before{content:"\f117";}
.icon-smile:before{content:"\f118";}
.icon-frown:before{content:"\f119";}
.icon-meh:before{content:"\f11a";}
.icon-gamepad:before{content:"\f11b";}
.icon-keyboard:before{content:"\f11c";}
.icon-flag-alt:before{content:"\f11d";}
.icon-flag-checkered:before{content:"\f11e";}
.icon-terminal:before{content:"\f120";}
.icon-code:before{content:"\f121";}
.icon-reply-all:before{content:"\f122";}
.icon-mail-reply-all:before{content:"\f122";}
.icon-star-half-full:before,.icon-star-half-empty:before{content:"\f123";}
.icon-location-arrow:before{content:"\f124";}
.icon-crop:before{content:"\f125";}
.icon-code-fork:before{content:"\f126";}
.icon-unlink:before{content:"\f127";}
.icon-question:before{content:"\f128";}
.icon-info:before{content:"\f129";}
.icon-exclamation:before{content:"\f12a";}
.icon-superscript:before{content:"\f12b";}
.icon-subscript:before{content:"\f12c";}
.icon-eraser:before{content:"\f12d";}
.icon-puzzle-piece:before{content:"\f12e";}
.icon-microphone:before{content:"\f130";}
.icon-microphone-off:before{content:"\f131";}
.icon-shield:before{content:"\f132";}
.icon-calendar-empty:before{content:"\f133";}
.icon-fire-extinguisher:before{content:"\f134";}
.icon-rocket:before{content:"\f135";}
.icon-maxcdn:before{content:"\f136";}
.icon-chevron-sign-left:before{content:"\f137";}
.icon-chevron-sign-right:before{content:"\f138";}
.icon-chevron-sign-up:before{content:"\f139";}
.icon-chevron-sign-down:before{content:"\f13a";}
.icon-html5:before{content:"\f13b";}
.icon-css3:before{content:"\f13c";}
.icon-anchor:before{content:"\f13d";}
.icon-unlock-alt:before{content:"\f13e";}
.icon-bullseye:before{content:"\f140";}
.icon-ellipsis-horizontal:before{content:"\f141";}
.icon-ellipsis-vertical:before{content:"\f142";}
.icon-rss-sign:before{content:"\f143";}
.icon-play-sign:before{content:"\f144";}
.icon-ticket:before{content:"\f145";}
.icon-minus-sign-alt:before{content:"\f146";}
.icon-check-minus:before{content:"\f147";}
.icon-level-up:before{content:"\f148";}
.icon-level-down:before{content:"\f149";}
.icon-check-sign:before{content:"\f14a";}
.icon-edit-sign:before{content:"\f14b";}
.icon-external-link-sign:before{content:"\f14c";}
.icon-share-sign:before{content:"\f14d";}
.icon-compass:before{content:"\f14e";}
.icon-collapse:before{content:"\f150";}
.icon-collapse-top:before{content:"\f151";}
.icon-expand:before{content:"\f152";}
.icon-euro:before,.icon-eur:before{content:"\f153";}
.icon-gbp:before{content:"\f154";}
.icon-dollar:before,.icon-usd:before{content:"\f155";}
.icon-rupee:before,.icon-inr:before{content:"\f156";}
.icon-yen:before,.icon-jpy:before{content:"\f157";}
.icon-renminbi:before,.icon-cny:before{content:"\f158";}
.icon-won:before,.icon-krw:before{content:"\f159";}
.icon-bitcoin:before,.icon-btc:before{content:"\f15a";}
.icon-file:before{content:"\f15b";}
.icon-file-text:before{content:"\f15c";}
.icon-sort-by-alphabet:before{content:"\f15d";}
.icon-sort-by-alphabet-alt:before{content:"\f15e";}
.icon-sort-by-attributes:before{content:"\f160";}
.icon-sort-by-attributes-alt:before{content:"\f161";}
.icon-sort-by-order:before{content:"\f162";}
.icon-sort-by-order-alt:before{content:"\f163";}
.icon-thumbs-up:before{content:"\f164";}
.icon-thumbs-down:before{content:"\f165";}
.icon-youtube-sign:before{content:"\f166";}
.icon-youtube:before{content:"\f167";}
.icon-xing:before{content:"\f168";}
.icon-xing-sign:before{content:"\f169";}
.icon-youtube-play:before{content:"\f16a";}
.icon-dropbox:before{content:"\f16b";}
.icon-stackexchange:before{content:"\f16c";}
.icon-instagram:before{content:"\f16d";}
.icon-flickr:before{content:"\f16e";}
.icon-adn:before{content:"\f170";}
.icon-bitbucket:before{content:"\f171";}
.icon-bitbucket-sign:before{content:"\f172";}
.icon-tumblr:before{content:"\f173";}
.icon-tumblr-sign:before{content:"\f174";}
.icon-long-arrow-down:before{content:"\f175";}
.icon-long-arrow-up:before{content:"\f176";}
.icon-long-arrow-left:before{content:"\f177";}
.icon-long-arrow-right:before{content:"\f178";}
.icon-apple:before{content:"\f179";}
.icon-windows:before{content:"\f17a";}
.icon-android:before{content:"\f17b";}
.icon-linux:before{content:"\f17c";}
.icon-dribbble:before{content:"\f17d";}
.icon-skype:before{content:"\f17e";}
.icon-foursquare:before{content:"\f180";}
.icon-trello:before{content:"\f181";}
.icon-female:before{content:"\f182";}
.icon-male:before{content:"\f183";}
.icon-gittip:before{content:"\f184";}
.icon-sun:before{content:"\f185";}
.icon-moon:before{content:"\f186";}
.icon-archive:before{content:"\f187";}
.icon-bug:before{content:"\f188";}
.icon-vk:before{content:"\f189";}
.icon-weibo:before{content:"\f18a";}
.icon-renren:before{content:"\f18b";}

#loader {display: none;position: fixed;z-index: 1000;top: 0;left: 190px;height: 100%;width: 100%;/* Firefox */width: -moz-calc(100% - 190px);/* WebKit */width: -webkit-calc(100% - 190px);/* Opera */width: -o-calc(100% - 190px);width: calc(100% - 190px);background: rgba( 255, 255, 255, .6 ) url('img/loading.gif') 50% 50% no-repeat;}
body.loading {overflow: hidden;}
body.loading #loader {display: block;}