<form>
  <fieldset>
    <legend><%= T('title-add-category') %></legend>

    <div data-fields="*"></div>

    <button class="btn" id="save-item"><%= T('button-save') %></button>

  </fieldset>
</form>
