<form action="/api/files/" method="post" enctype="multipart/form-data" class="form">
  <legend><%= T('file-upload-title') %></legend>
  <input type="file" name="failid" id="file-selector" multiple>

  <div class="clearfix"></div>

  <br>

  <div id="references"></div>

  <br>

  <button class="btn" id="save-item"><%= T('start-file-upload') %></button>

  <br><br>

  <div class="progress progress-striped active">
    <div class="bar" style="width: 0%;"></div>
  </div>
</form>

<table class="table" id="my-table">
  <thead>
    <tr>
      <th><%= T('file-name') %></th>
      <th><%= T('file-size') %></th>
      <th><%= T('file-type') %></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
