<legend><%= T('file-linking-title') %></legend>

<form class="pull-left form-inline">
  <select id="category-filter">
    <option value="">-- <%= T('file-category') %> --</option>
  </select>

  <select id="field-filter">
    <option value="">--</option>
    <% _.each(search, function (title, key) { %>
      <option value="<%= key %>"><%= title %></option>
    <% }); %>
  </select>

  <div class="input-append">
    <input type="text">
    <button class="btn" type="submit"><%= T('button-search') %></button>
  </div>

  <div id="filter-list"></div>
</form>

<div class="pull-right">
   <button id="go_back" class="btn btn-info">
      <i class="icon-arrow-left"></i>
     <%= T('button-back') %>
   </button>
</div>

<div id="filter-list"></div>

<div class="clearfix"></div>

<div id="files-container"></div>

<div id="paginator"></div>
