<legend><%= T('file-title') %> <span id="total-count" style="display: none">(<span id="total-count-nr">0</span>)</span></legend>

<form class="pull-left form-inline">
  <select id="category-filter">
    <option value="">-- <%= T('file-category') %> --</option>
  </select>

  <select id="field-filter">
    <option value="">--</option>
    <% _.each(search, function (title, key) { %>
      <option value="<%= key %>"><%= title %></option>
    <% }); %>
  </select>

  <div class="input-append">
    <input type="text">
    <button class="btn" type="submit"><%= T('button-search') %></button>
  </div>

  <div id="filter-list"></div>
</form>

<% if (Backbone.User.permissions().POST) { %>
<p class="pull-right">
  <a href="/files/add" class="btn"><%= T('button-upload-files') %></a>
</p>
<% } %>

<div class="clearfix"></div>

<div id="grid-content"></div>
