<select name="template_id" class="input-large">
    <option value="">-- vali templeit --</option>
    <% templates.forEach(function(template) { %>
    <option value="<%= template.id %>" <%= template.id == template_id ? 'selected' : '' %>><%= template.attributes.label %></option>
    <% }); %>
</select>

<input type="text" name="resource_id" class="input-large" placeholder="objectid" value="<%= resource_id %>">

<% if (template_id && resource_id) { %>
<a href="/resources/<%= template_id %>/<%= resource_id %>" class="btn"><%= T('file-view-reference') %></a>
<% } %>

<div id="reference-finder"></div>

<div id="reference-finder-button" style="display: none">
    <button name="find_reference"><%= T('file-find-reference') %></button>
</div>

<br>

<textarea name="description" placeholder="kirjeldus"><%= description %></textarea>

<button id="del-reference" data-id="<%= _id %>"><%= T('button-delete') %></button>
