<% if (resources.state.totalRecords > 0) { %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#reference-container-<%= template._id %>-<%= wid %>">
				<i class="icon-angle-right"></i> <%= wname %> (<%= resources.state.totalRecords %>)
			</a>
		</h4>
	</div>
	<div id="reference-container-<%= template._id %>-<%= wid %>" class="panel-collapse collapse">
		<div class="panel-body">
			<a href="/resources/<%= template._id %>?<%= url_filter %>" class="btn pull-right"><%= T('button-view-all') %> (<%= resources.state.totalRecords %>)</a>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
					<% _.each(fields, function(field) { %>
						<th><%= field.label %></th>
					<%  }); %>
					</tr>
				</thead>
				<tbody>
				<% resources.forEach(function(resource) { %>
					<tr>
					<% _.each(fields, function(field, index) { %>
						<td>
							<% if (index == 0) { %>
							<a href="/resources/<%= template._id %>/<%= resource.id %>">
								<i class="icon-eye-open"></i>&nbsp; <%= resource.attributes[field.key] %>
							</a>
							<% } else { %>
								<%= resource.attributes[field.key] %>
							<% } %>
						</td>
					<%  }); %>
					</tr>
				<%  }); %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% } %>
